*
!*/
!/.gitattributes
!/.gitignore
!/LICENSE
!/NOTICE
!/README.md
!/Runtime/LetterMerger.exe
!/Runtime/Data/README.md
!/Runtime/Output/README.md
!/Runtime/Photos/README.md
!/Runtime/START_HERE.md
!/Runtime/Templates/A7_Card_Template.docx
!/Runtime/Templates/README.md
!/SECURITY.md
!/docs/PRIVACY.md
!/docs/images/main-window.png
!/docs/images/photo-preview.png
!/scripts/AuditRepository.py
!/scripts/Build.ps1
!/scripts/Test.ps1
!/src/LetterMerger.csproj
!/src/Core.cs
!/src/MergeWorkflow.cs
!/src/Program.cs
!/src/Security.cs
!/src/UI.cs
!/src/ViewLayout.cs
!/src/WordLayout.cs
!/src/app.manifest
!/tests/LetterMerger.Tests.csproj
!/tests/TestRunner.cs
!/tests/Tests.cs
